:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f4f4f9;
  color: #333;
}

#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input, select, button {
  padding: 8px;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: #646cff;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #535bf2;
}